header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: #fff;
}
header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    transition: ease-in 0.3s;
}
header nav a:nth-child(2) {
    color: #ff5e5e;
    transition: ease-in 0.3s;
}

header nav a:hover {
    font-size: 1.1rem;
}

header nav a:nth-child(2):hover {
    font-size: 1.1rem;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #f9f9f9;
}
.hero h1 {
    font-size: 48px;
    margin: 0;
    color: #2c2c2c;
}
.hero h2 {
    font-size: 24px;
    margin: 10px 0;
    color: #2c2c2c;
}
.hero p {
    font-size: 16px;
    color: #2c2c2c;
}
.btn {
    text-decoration: none;
    border-radius: 10px;
    background-color: #ff5e5e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.1);
    transition: ease-in 0.1s;
}

.btn:hover{
    color: #ff5e5e;
    background: #fff;
    border: #ff5e5e 3px solid;
}


.hero img {
    margin-left: 5vw;
    max-width: 200px;
    border-radius: 50%;
}